@model IEnumerable<DietProject.Application.ViewModels.UserVM>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Height)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Weight)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateofBirth)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Id)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Height)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Weight)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateofBirth)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
					@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
				    @Html.ActionLink("Delete", "UserDelete", new {  id=item.Id  }) 
@* 					<a class="btn btn-danger" href="@Url.Action("UserDelete", new { id = item.Id })">Sil</a>
 *@				</td>
			</tr>
		}
	</tbody>
</table>
