@model IEnumerable<DietProject.Application.ViewModels.MealDetailVM>

<p>
    <a asp-action="Index" asp-controller="User">Listeye Geri Dön</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MealId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meal.MealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MealId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meal.MealType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateMeal","Meal", new {  id=item.Id  }) |

                    @Html.ActionLink("Delete", "DeleteMeal","Meal", new {  id=item.Id  })
                </td>
            </tr>
        }
    </tbody>
</table>
